.footer {
    padding: 10px 15px;
    background-color: $gray-light-2;

    p {
        margin: 0;
        font-size: 14px;
    }
    
    .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;

        @media(min-width: 768px) {
            text-align: right;
        }
        
        li {
            display: inline-block;
            font-size: 14px;
            color: $gray-dark-2;
            padding: 0 5px 0 0;

            a {
                color: $gray-dark-2;
            }

            &:not(:last-child) {
                border-right: 1px solid $gray-dark-2;
            }
        }
    }
}