*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    background-color: $white;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

p {
    color: $gray-dark-2;
    font-size: 16px;

    @media(min-width: 768px) {
        font-size: 18px;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.dash {
    margin-top: 16px;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: $blue;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 15px 0 30px 0;

    @media(min-width: 992px) {
        font-size: 56px;
        margin: 30px 0 60px 0;
    }
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;

    @media(min-width: 768px) {
        font-size: 24px;
    }
}

.btn {
    padding: 12px 32px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;

    &:hover {
        text-decoration: none;
    }
}

.btn-blue {
    background-color: $blue;
    color: $white;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: darken($blue, 10%);
        color: $white;
    }
}