.col-25 {
    width: 100%;
    flex: 0 0 100%;

    @media(min-width: 768px) {
        width: 25%;
        flex: 0 0 25%;
    }
}

.col-50 {
    width: 100%;
    flex: 0 0 100%;

    @media(min-width: 768px) {
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
    }
}

.col-75 {
    width: 100%;
    flex: 0 0 100%;

    @media(min-width: 768px) {
        width: 75%;
        flex: 0 0 75%;
    }
}