.instagram {
    position: relative;
    margin-top: 99px;
    display: flex;
    flex-flow: row wrap;

    &:before {
        content: '';
        display: block;
        width: 100%;
        box-shadow: 0 0 20px 80px rgba($black, .5);
        z-index: 20;
    }

    @media(min-width: 992px) {
        margin-top: 0;
    }
    
    .overlay {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 100;
        font-weight: 600;

        img, a {
            vertical-align: middle;
        }

        img {
            padding-right: 5px;
        }

        a {
            font-size: 14px;
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .link {
        position: relative;
        overflow: hidden;
        flex: 0 0 50%;
        width: 50%;
        padding-top: 50%;

        @media(min-width: 576px) {
            flex: 0 0 33.33333%;
            width: 33.33333%;
            padding-top: 33.33333%;
        }

        @media(min-width: 768px) {
            flex: 0 0 25%;
            width: 25%;
            padding-top: 25%;
        }

        @media(min-width: 992px) {
            flex: 0 0 16.6666666667%;
            width: 16.6666666667%;
            padding-top: 16%;
        }
        
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;

            @media(min-width: 992px) {
                height: auto;
            }
        }
    }
}







