.nav {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: $white;

    @media(min-width: 992px) {
        position: relative;
        box-shadow: 0 2px 4px 3px rgba($black, .1);
    }
    
    .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        display: none;

        @media(min-width: 992px) {
            display: block;
        }

        &.visible {
            display: block;
            position: absolute;
            top: 97px;
            left: 0;
            right: 0;
            background-color: $white;
        }
        
        li {
            display: block;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;

            @media(min-width: 992px) {
                display: inline-block;
                margin-bottom: 0;
            }

            &:not(:last-child) {
                margin-right: 0;

                @media(min-width: 992px) {
                    margin-right: 60px;
                }
            }

            a {
                color: $gray-dark-1;

                &:hover,
                    &:focus {

                }
            }
        }
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: 2px solid $gray-light-2;
    border-radius: 3px;
    float: right;
    margin-right: 15px;

    @media(min-width: 992px) {
        display: none;
    }

    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: $gray-dark-2;
        margin: 6px 0;
    }
}