section {
    .content {
        padding-left: 40px;
    }
    
    .description {
	-ms-flex-order: 1;
	order: 1;
	padding: 30px;
	align-self: center;

	@media(min-width: 768px) {
            padding: 0 50px;
            -ms-flex-order: unset;
            order: unset;
	}

	@media(min-width: 992px) {
            padding: 0 100px;
	}

	@media(min-width: 1600px) {
            padding: 0 200px;
	}
    }
    
    .image {
	order: 2;

	img {
            object-fit: cover;
            width: 100%;
            height: 100%;
	}

	@media(min-width: 768px) {
            -ms-flex-order: unset;
            order: unset;
	}
    }
}
.section-button {
    padding: 80px 0;
    background-color: $gray-light-2;
    text-align: center;

    @media(min-width: 992px) {
        padding: 200px 0;
    }
}