/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2019, 11:35:29 AM
    Author     : Mile Janev
*/
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

p {
  color: #555559;
  font-size: 16px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px; }

.row {
  display: flex;
  flex-flow: row wrap; }

.dash {
  margin-top: 16px;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #286782; }

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 15px 0 30px 0; }
  @media (min-width: 992px) {
    h1 {
      font-size: 56px;
      margin: 30px 0 60px 0; } }

h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0; }
  @media (min-width: 768px) {
    h2 {
      font-size: 24px; } }

.btn {
  padding: 12px 32px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600; }
  .btn:hover {
    text-decoration: none; }

.btn-blue {
  background-color: #286782;
  color: #fff;
  transition: all 200ms ease-in-out; }
  .btn-blue:hover {
    background-color: #1c485b;
    color: #fff; }

.instagram {
  position: relative;
  margin-top: 99px;
  display: flex;
  flex-flow: row wrap; }
  .instagram:before {
    content: '';
    display: block;
    width: 100%;
    box-shadow: 0 0 20px 80px rgba(0, 0, 0, 0.5);
    z-index: 20; }
  @media (min-width: 992px) {
    .instagram {
      margin-top: 0; } }
  .instagram .overlay {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 100;
    font-weight: 600; }
    .instagram .overlay img, .instagram .overlay a {
      vertical-align: middle; }
    .instagram .overlay img {
      padding-right: 5px; }
    .instagram .overlay a {
      font-size: 14px;
      color: #fff; }
      .instagram .overlay a:hover {
        text-decoration: none; }
  .instagram .link {
    position: relative;
    overflow: hidden;
    flex: 0 0 50%;
    width: 50%;
    padding-top: 50%; }
    @media (min-width: 576px) {
      .instagram .link {
        flex: 0 0 33.33333%;
        width: 33.33333%;
        padding-top: 33.33333%; } }
    @media (min-width: 768px) {
      .instagram .link {
        flex: 0 0 25%;
        width: 25%;
        padding-top: 25%; } }
    @media (min-width: 992px) {
      .instagram .link {
        flex: 0 0 16.6666666667%;
        width: 16.6666666667%;
        padding-top: 16%; } }
    .instagram .link img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%; }
      @media (min-width: 992px) {
        .instagram .link img {
          height: auto; } }

.nav {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff; }
  @media (min-width: 992px) {
    .nav {
      position: relative;
      box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1); } }
  .nav .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: none; }
    @media (min-width: 992px) {
      .nav .menu {
        display: block; } }
    .nav .menu.visible {
      display: block;
      position: absolute;
      top: 97px;
      left: 0;
      right: 0;
      background-color: #fff; }
    .nav .menu li {
      display: block;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px; }
      @media (min-width: 992px) {
        .nav .menu li {
          display: inline-block;
          margin-bottom: 0; } }
      .nav .menu li:not(:last-child) {
        margin-right: 0; }
        @media (min-width: 992px) {
          .nav .menu li:not(:last-child) {
            margin-right: 60px; } }
      .nav .menu li a {
        color: #2e2e2e; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 2px solid #fbfafa;
  border-radius: 3px;
  float: right;
  margin-right: 15px; }
  @media (min-width: 992px) {
    .hamburger {
      display: none; } }
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #555559;
    margin: 6px 0; }

.col-25 {
  width: 100%;
  flex: 0 0 100%; }
  @media (min-width: 768px) {
    .col-25 {
      width: 25%;
      flex: 0 0 25%; } }

.col-50 {
  width: 100%;
  flex: 0 0 100%; }
  @media (min-width: 768px) {
    .col-50 {
      width: 50%;
      max-width: 50%;
      flex: 0 0 50%; } }

.col-75 {
  width: 100%;
  flex: 0 0 100%; }
  @media (min-width: 768px) {
    .col-75 {
      width: 75%;
      flex: 0 0 75%; } }

section .content {
  padding-left: 40px; }
section .description {
  -ms-flex-order: 1;
  order: 1;
  padding: 30px;
  align-self: center; }
  @media (min-width: 768px) {
    section .description {
      padding: 0 50px;
      -ms-flex-order: unset;
      order: unset; } }
  @media (min-width: 992px) {
    section .description {
      padding: 0 100px; } }
  @media (min-width: 1600px) {
    section .description {
      padding: 0 200px; } }
section .image {
  order: 2; }
  section .image img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  @media (min-width: 768px) {
    section .image {
      -ms-flex-order: unset;
      order: unset; } }

.section-button {
  padding: 80px 0;
  background-color: #fbfafa;
  text-align: center; }
  @media (min-width: 992px) {
    .section-button {
      padding: 200px 0; } }

.footer {
  padding: 10px 15px;
  background-color: #fbfafa; }
  .footer p {
    margin: 0;
    font-size: 14px; }
  .footer .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left; }
    @media (min-width: 768px) {
      .footer .menu {
        text-align: right; } }
    .footer .menu li {
      display: inline-block;
      font-size: 14px;
      color: #555559;
      padding: 0 5px 0 0; }
      .footer .menu li a {
        color: #555559; }
      .footer .menu li:not(:last-child) {
        border-right: 1px solid #555559; }

/*# sourceMappingURL=style.css.map */
